<h1>New post</h1>
<form method='POST' action='/create-post' enctype='multipart/form-data'>
  <textarea rows='10' cols='45' name='content'></textarea>
  <input type='file' name='picture' />
  <button>Create post</button>
</form>